.banner {
  width: 500px;
  height: 450px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: whitesmoke;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}



.banner img {
  border-radius: 50%;

}

.banner-objects {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 95%;

}

.banner-objects h1 {
  margin: 0;
}
