.banner {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  background-color: whitesmoke;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}



.banner img {
  border-radius: 50%;

}

.banner-objects {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
